*~
*.swp
*.swo
values-secret*
.*.expected.yaml
pattern-vault.init
vault.init
super-linter.log
common/pattern-vault.init
common/scripts/pattern-util.sh
tests/ci/.results
tests/ci/__pycache__
tests/ci/.pytest_cache
