apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
  - files:
      - files/redis_schema.yaml
    name: redis-schema
commonAnnotations:
  kustomize.config.k8s.io/behavior: replace
