{{- if eq .Values.global.db.type "PGVECTOR" }}
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ .Values.subscription.name }}
  namespace: {{ .Release.Namespace }}
spec:
  channel: {{ .Values.subscription.channel }}
  installPlanApproval: {{ .Values.subscription.installPlanApproval }}
  source: {{ .Values.subscription.source }}
  name: {{ .Values.subscription.name }}
  sourceNamespace: {{ .Values.subscription.sourceNamespace }}
  #startingCSV: {{ .Values.subscription.startingCSV }}
{{- end }}
